/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

*{margin:0;padding:0;}

body{
    text-align:center;
    background-color: #FFF9F5;
}

h1{
  font-family:"Raleway";
  position:absolute;
  top:10%;
  left:45.5%;
}
.main{
    text-align:center;
}
/* ONE */
.one{
    z-index: -1;
    width:20%;
    height:50%;
    position:absolute;
    top:20%;
    left:4%;
    background-color:white;
}
.text1{
    position:absolute;
    top:50%;
    width:100%;
    font-family:'Raleway';
    text-transform:uppercase;
}
.one img{
    height:50%;
    width:100%;
}
#button1{
    border:none;
    background-color:#ffff;
    cursor:pointer;
}
/* TWO */
.two{
    z-index: -1;
    width:20%;
    height:50%;
    position: absolute;
    top:20%;
    left:28%;
    background-color:white;
}
.text2{
    position:absolute;
    top:50%;
    width:100%;
    font-family:'Raleway';
    text-transform:uppercase;
}
.two img{
    height:50%;
    width:100%;
}
#button2{
    border:none;
    background-color:#ffff;
    cursor:pointer;
}
/* THREE */
.three{
    text-align:center;
    z-index: -1;
    width:20%;
    height:50%;
    position: absolute;
    top:20%;
    right:28%;
    background-color:white;
    
}
.three img{
    height:50%;
    width:100%;
}
.text3{
    position:absolute;
    top:50%;
    width:100%;
    font-family:'Raleway';
    text-transform:uppercase;
}
#button3{
    border:none;
    background-color:#ffff;
    cursor:pointer;
}
/* FOUR */
.four{
    text-align:center;
    z-index: -1;
    width:20%;
    height:50%;
    position: absolute;
    top:20%;
    right:4%;
    background-color:white;
    
}
.four img{
    height:50%;
    width:100%;
}
.text4{
    position:absolute;
    top:50%;
    width:100%;
    font-family:'Raleway';
    text-transform:uppercase;
}
#button4{
    border:none;
    background-color:#ffff;
    cursor:pointer;
}